.class-1 {
    background-color: rgb(255, 164, 131); font-family: Verdana, DejaVu Sans, sans-serif; 
}
.class-2 {
    font-size:24px;
}
#identified-1 {
    color:rgb(20, 20, 233); font-size:36px;
}
#identified-2 {
    background-color:rgb(106, 233, 106); font-size:24px; font-weight:bold;
}